# Container Types Intro

In [1]:
print("hello")

hello

In [2]:
fruits = ["apple", "cherry", "banana"]
print(fruits)
type(fruits)

['apple', 'cherry', 'banana']

list

In [3]:
numbers = [1,2,3,4]
type(numbers)

list

In [4]:
list('asdfg')

['a', 's', 'd', 'f', 'g']

In [5]:
my_str = 'asdfg'

my_str.split()

['asdfg']

In [6]:
numbers[0]

1

In [7]:
numbers[3:50]

[4]

In [8]:
a = 5
b = a
a += 1
print(a)
print(b)

6
5

In [9]:
a = [1,2,3]
b = a
print(b)
a.append(4)
a.append(5)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [10]:
a = [1,2,3]
b = a.copy()
print(b)

[1, 2, 3]

In [11]:
x = [[1,2], [3,4]]
x[1][1]

4

In [12]:
x = [[1,2], [3,4]]

In [13]:
y = x.copy()
x[0].append('h')
print(x)
print(y)

[[1, 2, 'h'], [3, 4]]
[[1, 2, 'h'], [3, 4]]

In [14]:
from copy import copy, deepcopy


y = x.copy()
y = deepcopy(x)
x[0].append('h')
print(x)
print(y)

[[1, 2, 'h', 'h'], [3, 4]]
[[1, 2, 'h'], [3, 4]]

In [15]:
# List methods

fruits = ['apple', 'banana',]
fruits.append('cherry')
fruits

['apple', 'banana', 'cherry']

In [16]:
fruits.count('apple')

1

In [17]:
fruits.extend(['ananas', 'melan'])
fruits

['apple', 'banana', 'cherry', 'ananas', 'melan']

In [18]:
fruits.index('ananas')

3

In [19]:
fruits.pop()  # remove and return

'melan'

In [20]:
fruits

['apple', 'banana', 'cherry', 'ananas']

In [21]:
fruits.remove('banana')

In [22]:
fruits

['apple', 'cherry', 'ananas']

In [23]:
fruits.reverse()
fruits

['ananas', 'cherry', 'apple']

In [24]:
fruits.sort()
fruits
sorted(fruits)

['ananas', 'apple', 'cherry']

In [25]:
fruits = ['banana', 'a' , 'ab', 'ananas']
sorted(fruits, key=lambda x: len(x))

['a', 'ab', 'banana', 'ananas']

In [26]:
numbers

[1, 2, 3, 4]

In [27]:
numbers[0] = 1

In [28]:
numbers
sorted(numbers, reverse=True)

[4, 3, 2, 1]

Tuple

In [29]:
a = (1,2,3)
type(a)

tuple

In [30]:
a[2]

3

In [31]:
a=slice(0,1,)
a

slice(0, 1, None)

In [32]:
tuple((1,))

(1,)

In [33]:
numbers.remove(2)
numbers

[1, 3, 4]

append, sort, pop, remove, extend, reverse, insert = mutate

index, count

copy,

In [34]:
divmod(20,3)

(6, 2)

In [35]:
id, title, artist_id = (1, 'sdfghcv', 1)
artist_id

1

Dictionary

In [36]:
person = {
    'name' : 'John',
    'email' : 'gmail',
    'age' : 50
}

In [37]:
person['name']

'John'

In [38]:
person.keys()

dict_keys(['name', 'email', 'age'])

In [39]:
person.values()

dict_values(['John', 'gmail', 50])

In [40]:
person.items()

dict_items([('name', 'John'), ('email', 'gmail'), ('age', 50)])

In [41]:
k1 = 1
k2 = False
k3 = 'key3'
k4 = (1,2,3,4)

In [42]:
a1 = {
    'a' : 1,
    'b' : 2,
}
a1.update({'c':3, 'a':5})
a1

{'a': 5, 'b': 2, 'c': 3}

SET

In [43]:
letters = {'a','b','c','d'}
type(letters)

set

In [44]:
a = ['a','b','c','d', 'a']
list(set(a))

['a', 'b', 'd', 'c']

In [45]:
for i in letters:
    print(i)

a
b
d
c

In [46]:
s1 = {'a','b','c'}
s2 = {'d','f','g'}
s1.union(s2)

{'a', 'b', 'c', 'd', 'f', 'g'}

In [47]:
s1 | s2

{'a', 'b', 'c', 'd', 'f', 'g'}

In [50]:
s1.difference(s2)

{'d', 'f', 'g'}

In [51]:
s1.symmetric_difference(s2)

{'a', 'b', 'c', 'd', 'f', 'g'}

In [52]:
s1 ^ s2

{'a', 'b', 'c', 'd', 'f', 'g'}

In [53]:
'Apple' in {"apple", "cherry"}

False

# Nmaed Tuple

In [65]:
from collections import namedtuple
#RGB = (200,200,100)

Color = namedtuple("Color", ['x','y','z'])

white = Color(255,255,255)
balck = Color(0,0,0)
green = Color(0,255,0)

green,y

(Color(x=0, y=255, z=0), [[1, 2, 'h'], [3, 4]])

In [62]:
type(green)

__main__.Color

In [63]:
isinstance(green, tuple)

True

In [64]:
isinstance(green, list)

False