Working with databases

SQLite Basics
There are four basic steps to working with SQLite:

    Import the sqlite3 package.
    Connect to an existing database or create a new database.
    Execute SQL statements on the database.
    Close the database connection.

In [ ]:
import sqlite3

connection  = sqlite3.connect("test_database.db")

In [1]:
type(connection)

NameError: name 'connection' is not defined

In [ ]:
cursor = connection.cursor()
type(cursor)

sqlite3.Cursor

In [ ]:
query = "SELECT datetime('now', 'local time')"
result = cursor.execute(query)
result

In [ ]:
row = result.fetchone()
row

In [ ]:
time = row[0]
time

TypeError: 'NoneType' object is not subscriptable

In [ ]:
connection.close()

In [ ]:
with sqlite3.connect('test_database.db') as connection:
    cursor = connection.cursor()
    query = "SELECT datetime('now', 'local time')"
    result = cursor.execute(query)
    row = result.fetchone()
    time = row[0]
time

In [ ]:
import sqlite3

create_table = """
    CREATE TABLE People(
    FirstName TEXT,
    LastName TEXT,
    Age INT
    );"""
insert_table = """
    INSERT INTO People VALUES(
    'Ron',
    'Obvious',
    42
    );"""
    
connection = sqlite3.connect('test_database.db')
cursor = connection.cursor()
cursor.execute(create_table)
cursor.execute(insert_table)
connection.commit()
connection.close()

OperationalError: table People already exists

In [2]:
import sqlite3

connection = sqlite3.connect('roster.db')
cursor = connection.cursor()


create_table = """
    CREATE TABLE Roster(
        Name TEXT,
        Species TEXT,
        Age INT
    );"""
cursor.execute(create_table) 

insert_table = """
    INSERT INTO Roster VALUES(
        'Benjamin Sisko',
        'Human',
        40
    )
  """
cursor.execute(insert_table)

data = [
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29),
]

cursor.executemany("INSERT INTO Roster VALUES (?,?,?)", data)

connection.commit()
connection.close()